In [ ]:
import pandas as pd
import numpy as np 
import seaborn as sns
import matplotlib.pyplot as plt
titanic_df = pd.read_csv('/content/titanic_data.csv')

In [ ]:
titanic_df.columns = ['PassengerID','Survival','Pclass','Name','Sex','Age','SibSp','Parch','Ticket','Fare','Cabin','Embarked']

print('There are '+str(len(titanic_df[titanic_df['Age'].isnull() == True]))+' rows with no Age data')

There are 177 rows with no Age data

In [ ]:
print('mean=',titanic_df['Age'].mean())
print('median=',titanic_df['Age'].median())
print('mode=',titanic_df['Age'].mode())

mean= 29.69911764705882
median= 28.0
mode= 0    24.0
dtype: float64

In [ ]:
print("Variance=", np.var(titanic_df['Age']))
print("Mean=", np.mean(titanic_df['Age']))
print("Min=", np.min(titanic_df['Age']))
print("Max=", np.max(titanic_df['Age']))
print("Range=", np.max(titanic_df['Age']) - np.min(titanic_df['Age']))

Variance= 210.72357975366614
Mean= 29.69911764705882
Min= 0.42
Max= 80.0
Range= 79.58

In [ ]:
print('Standard Deviation=',titanic_df['Age'].std())

Standard Deviation= 14.526497332334042